header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px 40px;
    min-height: 50px;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header li{
    display: inline-block;
    margin: 0 25px;
    transform: translate(500px);
}
header li.li-actif{
    transform: translate(0px);
}
header li.li-transition{
    transition: all 1s ease-out; 
}
header a{
    color: var(--color-b);
    opacity: 0;
    transition: opacity 1.8s ease-in;
}
header.header-burger{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;   
    padding: 0;
    opacity: 0;
    z-index: 0;
    background-color: var(--color-w);
}
header.header-burger.header-transition{
    transition: opacity 0.3s linear, z-index 0s linear 0.3s;
}
header.header-burger.actif{
    display: block;
    opacity: 0.9;
    z-index: 3;
    transition: opacity 0.3s linear;
}
header.header-burger nav{
    width: 100%;
    height: 100%;

}
header.header-burger ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}
header.header-burger li{
    display: block;
    margin: 15px 0;
}
header.header-burger a{
    font-size: 1.3em;
}
/* burger */
#burger{
    z-index: 10;
    position: fixed;
    right: 15px;
    top: 15px;
    height: 50px;
    width: 35px;
    cursor: pointer;
    transform: translateX(100px);
    transition: transform 0.1s ease-out;
}
#burger.burger-actif{
    transform: translateX(0px);
}

#burger div{
    position: absolute;
    background-color: var(--color-b);
    border-radius: 2px;
    width: 30px;
    height: 3px;
}
#burger div:nth-child(1){
    top: 10px;
    transition: transform 0.2s ease-out  0.1s;
}
#burger div:nth-child(2){
    top: 20px;
    opacity: 1;
    transition: all 0.1s ease-out;
}
#burger div:nth-child(3){
    top: 30px;
    transition: transform 0.2s ease-out 0.1s;
}
#burger div:nth-child(1).actif{
    transform: translateY(10px) rotate(-45deg);
}
#burger div:nth-child(2).actif{
    transform: translateY(0px) rotate(-45deg);
    opacity: 0;
}
#burger div:nth-child(3).actif{
    transform: translateY(-10px) rotate(45deg);
}

