#projet{
    min-height: 100vh;
    padding: 200px 100px 100px 100px;
    background-color: var(--color-w-1);
}
.projet-container{
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px
}
.projet-card{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 800px
}
.projet-card.left{
    flex-direction: row-reverse;
}
.projet-card-content{
    position: relative;
}
.projet-card-language{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: 15px;
    color: var(--color-b-2)
}
.projet-card-language h5{
    opacity: 0;
}
.projet-card-language.left{
    right: auto;
    left: 0;
}
.projet-description{
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 75%;
    height: 150px;
    width: 400px;
    background-color: var(--color-p-3);
    transform: translateY(-50%);
    padding: 20px;
    box-shadow: 1px 1px 10px var(--color-b);
}
.projet-description.left{
    left: auto;
    right: 75%;
}
.projet-card figure{
    position: relative;
    max-height: 300px;
    max-width: 500px;
    border-radius: 10px;
    overflow: hidden;
    transform: translate(-2vw);
}
.projet-card figure.left{
    transform: translate(2vw);
}
.projet-card figure::after{
    content: '';
    position:absolute;
    inset: 0;
    background-color: var(--color-p-1-2);
    opacity: 0.7;
}
.projet-card figure img{
    max-width: 500px;
    max-height: 300px;
    object-fit: contain;
}
#projet p{
    font-size: 0.9em;
    color: var(--color-b);
}
#projet p span{
    font-weight: 600;
    color: var(--color-b-1);
}
.projet-description a{
    font-size: 0.8em;
    font-weight: 500;
    margin-inline: auto 0;
    margin-right: 5px;
    color: var(--color-b);
    transition: color 0.3s ease;
}
.projet-description a:hover{
    color: var(--color-b-2);
}
.projet-card-title{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    min-width: 300px;
    height: fit-content;
}
.projet-card-title.left{
    justify-content: start;
    flex-direction: row-reverse;
}
.projet-card-title > div{
    height: 1px;
    width: 100px;
    background-color: var(--color-b);
}

@media (max-width: 900px){
    .projet-card, .projet-card.left{
        flex-direction: column;
        gap: 20px;
        width: auto
    }
    .projet-card-content{
        order: 2;
    }
    .projet-description, .projet-description.left{
        padding: 20px;
        top: auto;
        bottom: 0%;
        transform: translateY(50%);
        height: 130px;
        width: 330px;
    }
    .projet-description{
        left: 5%;
    }
    .projet-description.left{
        right: 5%
    }
    .projet-card-language{
        margin-top: 65px;
        position: relative;
        display: flex;
        gap: 15px;
        color: var(--color-b-2);
        order: 3;
    }
    .projet-card-title{
        order: 1;
    }
    .projet-container{
        padding: 100px 0px;
        gap: 100px
    }
    .projet-card figure{
        position: relative;
        max-height: 300px;
        max-width: 420px;
    }
}
@media (max-width: 500px){
    .projet-description, .projet-description.left{
        padding: 10px;
        height: 100px;
        width: 320px;
    }
    .projet-card-language{
        margin-top: 50px;
    }
    .projet-card figure{
        max-height: 200px;
        max-width: 320px;
    }
}